<h2><center> Classically Punk</h2></center>
<figure>
<center><img src ="https://www.servomagazine.com/uploads/articles/SV_0220_Keshri_Large.jpg" width = "750" height = '500' alt="Financial Fraud Detection"/>

## Authors: 

Date: [Current Date]

[Table of Contents](#table-of-contents)

- [Introduction](#introduction)
  * [Overview](#overview)
  * [Problem Statement](#problem-statement)
- [Importing Libraries](#importing-dependencies)
- [Data](#data)
- [Exploratory Data Analysis](#exploratory-data-analysis)
  * [Data Exploration](#data-exploration)
  * [Data Visualization](#data-visualization)
  * [Summary Statistics](#summary-statistics)
  * [Feature Correlation](#feature-correlation)
- [Data Preparation](#data-preparation)
  * [Data Cleaning](#data-cleaning)
  * [Feature Engineering](#feature-engineering)
  * [Data Transformation](#data-transformation)
- [Modeling](#modeling)
  * [Model Selection](#model-selection)
  * [Model Training](#model-training)
  * [Model Evaluation](#model-evaluation)
  * [Hyperparameter Tuning](#hyperparameter-tuning)
- [Results](#results)
  * [Analysis Results](#analysis-results)
  * [Model Performance](#model-performance)
  * [Feature Importance](#feature-importance)
  * [Implications](#implications)
- [Conclusion](#conclusion)
  * [Summary](#summary)
  * [Limitations](#limitations)
  * [Recommendations](#recommendations)
- [References](#references)
- [Code](#code)

<a id='introduction'></a>
### Introduction
[back to top](#table-of-contents)

<a id='overview'></a>
#### Overview
[back to top](#table-of-contents)

<a id='problem-statement'></a>
#### Problem Statement
[back to top](#table-of-contents)

<a id='importing-dependencies'></a>
### Importing Dependencies
[back to top](#table-of-contents)

In [2]:
import os
import sys
import librosa
import librosa.display
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from IPython.display import Audio
import numpy as np
import scipy
import pickle
import tarfile
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [71]:
df1 = pd.read_csv('only_wood_customer_us_1.csv')
df2 = pd.read_csv('only_wood_customer_us_2.csv', header=None, sep=';')
df3 = pd.read_csv('only_wood_customer_us_3.csv')

In [72]:
df1.head()

,Gender,FirstName,LastName,UserName,Email,Age,City,Country
0,Female,latesha,Barton,latesha,forgottoask@woodinc,85,INDIANAPOLIS,United State Of America
1,Female,Yolando,Jast,yolando,yolando_jast@yahoo.com,53,Columbus,12
2,Male,STACY,JOHNSON,stacy,stacy.johnson@yahoo.com,64,Indianapolis,NaN
3,Male,ABDUL,Mayert,abdul,mayert.abdul@hotmail.com,79,phoenix,USA
4,0,JULIUS,REINGER,julius,reinger_julius@hotmail.com,65,Jacksonville,NaN

In [73]:
df1['Gender'].value_counts()

Female    4076
Male      4033
1          533
M          478
0          449
F          431
Name: Gender, dtype: int64

In [74]:
df1['City'] = df1['City'].str.replace('-', ' ', regex=True).str.replace('_', ' ', regex=True).str.lower()
df1['FirstName'] = df1['FirstName'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
df1['LastName'] = df1['LastName'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
df1['Country'] = 'USA'
df1['Gender'] = df1['Gender'].str.replace('0', 'Male', regex=True).str.replace('1', 'Female', regex=True)
df1['Gender'] = df1['Gender'].replace({'M': 'Male', 'F': 'Female'})
df1[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']] = df1[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']].astype(str)

In [75]:
gender_values = sorted(set(df1['Gender'].values.tolist()))
gender_values

['Female', 'Male']

In [76]:
    df2.columns =['Age', 'City', 'Gender', 'Name', 'Email']
    df2['Gender'] = df2['Gender'].replace({'M': 'Male', 'F': 'Female'})
    df2[['FirstName', 'LastName']] = df2['Name'].str.split(' ', expand=True)
    df2['UserName'] = df2['LastName'].str.lower() + '.' + df2['FirstName'].str.lower()
    df2 = df2.drop(['Name'], axis=1)
    df2 = df2[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City']]
    df2['Country'] = 'USA'
    df2['FirstName'] = df2['FirstName'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
    df2['LastName'] = df2['LastName'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
    df2['Email'] = df2['Email'].str.replace('_', '.', regex=True)
    df2['Age'] = df2['Age'].str.replace('years', '', regex=True).str.replace('year', '', regex=True)
    df2['UserName'] = df2['UserName'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
    df2['Gender'] = df2['Gender'].str.replace('0', 'Male', regex=True).str.replace('1', 'Female', regex=True)
    
    df2['City'] = df2['City'].str.replace('-', ' ', regex=True).str.replace('_', ' ', regex=True).str.lower()
    df2[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']] = df2[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']].astype(str)

In [77]:
df2.head()

,Gender,FirstName,LastName,UserName,Email,Age,City,Country
0,Female,lorette,kutch,kutch.lorette,Kutch.lorette@gmail.com,51,austin,USA
1,Female,CLORINDA,WIZA,wiza.clorinda,clorinda.wiza@gmail.com,84,san diego,USA
2,Male,Joesph,littel,littel.joesph,LITTEL.JOESPH@GMAIL.COM,97,columbus,USA
3,Male,carlo,Stokes,stokes.carlo,carlo.stokes@gmail.com,90,jacksonville,USA
4,Male,KASEY,prosacco,prosacco.kasey,Kasey.prosacco@hotmail.com,57,charlotte,USA

In [78]:
gender_values = sorted(set(df2['Gender'].values.tolist()))
gender_values

['Female', 'Male']

In [79]:
    df3['Gender'] = df3['Gender'].str.replace('string_', '', regex=True).str.replace('tstring_', '', regex=True)
    df3[['Gender', 'Name', 'Email', 'Age', 'City', 'Country']] = df3['Gender'].str.split('\t', expand=True)
    df3['Name'] = df3['Name'].str.replace('\\', '', regex=True).str.replace('"', '', regex=True)
    df3[['FirstName', 'LastName']] = df3['Name'].str.split(' ', expand=True)
    df3['UserName'] = df3['LastName'].str.lower() + '.' + df2['FirstName'].str.lower()
    df3 = df3.drop(['Name'], axis=1)
    df3 = df3[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']]
    df3['Age'] = df3['Age'].str.replace('integer_', '', regex=True).str.replace('"', '', regex=True)
    df3['Gender'] = df3['Gender'].str.replace('character_M', 'Male', regex=True).str.replace('boolean_0', 'Female', regex=True).str.replace('boolean_1', 'Male', regex=True)
    df3['Age'] = df3['Age'].str.replace('years', '', regex=True).str.replace('year', '', regex=True).str.replace('yo', '', regex=True)
    df3['Country'] = 'USA'
    df3['City'] = df3['City'].str.replace('-', ' ', regex=True).str.replace('_', ' ', regex=True).str.lower()
    df3[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']] = df3[['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City', 'Country']].astype(str)

In [80]:
gender_values = sorted(set(df3['Gender'].values.tolist()))
gender_values

['Female', 'Male']

In [81]:
df3.head()

,Gender,FirstName,LastName,UserName,Email,Age,City,Country
0,Male,kendall,DACH,dach.lorette,DACH.KENDALL@HOTMAIL.COM,26,dallas,USA
1,Male,jonathon,schneider,schneider.clorinda,Jonathon.schneider@gmail.com,91,indianapolis,USA
2,Male,JAROD,konopelski,konopelski.joesph,KONOPELSKI_JAROD@HOTMAIL.COM,38,chicago,USA
3,Male,Glen,upton,upton.carlo,upton_glen@gmail.com,30,austin,USA
4,Male,tracey,Ratke,ratke.kasey,Ratke.tracey@hotmail.com,51,austin,USA

In [ ]:
import sqlite3
import csv
import pandas as pd
from io import StringIO
import re

def csv_to_sql(csv_content, database, table_name):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE volcanos (
            "Volcano Name" varchar(100),
            "Country" varchar(100),
            "Type" varchar(100),
            "Latitude (dd)" real,
            "Longitude (dd)" real,
            "Elevation (m)" real
            )
    ''')
    csv_data = csv_content.getvalue() 
    reader = csv.DictReader(csv_data.splitlines()) 
    to_db = [(i['Volcano Name'], i['Country'], i['Type'], i['Latitude (dd)'], i['Longitude (dd)'], i['Elevation (m)']) for i in reader]
    cursor.executemany("INSERT INTO volcanos (\"Volcano Name\", \"Country\", \"Type\", \"Latitude (dd)\", \"Longitude (dd)\", \"Elevation (m)\") VALUES (?, ?, ?, ?, ?, ?)", to_db)
    conn.commit()
    conn.close()

<a id='data'></a>
### Data
[back to top](#table-of-contents)

<a id='exploratory-data-analysis'></a>
### Exploratory Data Analysis
[back to top](#table-of-contents)

<a id='data-exploration'></a>
#### Data Exploration
[back to top](#table-of-contents)

<a id='data-visualization'></a>
#### Data Visualization
[back to top](#table-of-contents)

<a id='summary-statistics'></a>
#### Summary Statistics
[back to top](#table-of-contents)

<a id='feature-correlation'></a>
#### Feature Correlation
[back to top](#table-of-contents)

<a id='data-preparation'></a>
### Data Preparation
[back to top](#table-of-contents)

<a id='data-cleaning'></a>
#### Data Cleaning
[back to top](#table-of-contents)

<a id='feature-engineering'></a>
#### Feature Engineering
[back to top](#table-of-contents)

<a id='data-transformation'></a>
#### Data Transformation
[back to top](#table-of-contents)
<a id='modeling'></a>

<a id='modeling'></a>

### Modeling
[back to top](#table-of-contents)

<a id='model-selection'></a>

#### Model Selection
[back to top](#table-of-contents)

<a id='model-training'></a>

#### Model Training
[back to top](#table-of-contents)

<a id='model-evaluation'></a>

#### Model Evaluation
[back to top](#table-of-contents)

<a id='hyperparameter-tuning'></a>
#### Hyperparameter Tuning
[back to top](#table-of-contents)

<a id='results'></a>
### Results
[back to top](#table-of-contents)

<a id='analysis-results'></a>

#### Analysis Results
[back to top](#table-of-contents)

<a id='model-performance'></a>

#### Model Performance
[back to top](#table-of-contents)

<a id='feature-importance'></a>

#### Feature Importance
[back to top](#table-of-contents)

<a id='implications'></a>

#### Implications
[back to top](#table-of-contents)

<a id='conclusion'></a>

### Conclusion
[back to top](#table-of-contents)

<a id='summary'></a>

#### Summary
[back to top](#table-of-contents)

<a id='limitations'></a>

#### Limitations
[back to top](#table-of-contents)

<a id='recommendations'></a>

#### Recommendations
[back to top](#table-of-contents)

<a id='references'></a>

#### References
[back to top](#table-of-contents)

<a id='code'></a>

#### Code
[back to top](#table-of-contents)